/* style.css */

/* Réinitialisation des styles par défaut du navigateur */
body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
  }
  
  /* Styles généraux */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Styles spécifiques à chaque page */
  /* Style pour la page d'accueil */
  #index h2 {
    color: #555;
  }
  
  /* Style pour la page du CV */
  #cv img {
    max-width: 100%;
  }
  
  /* Style pour la page des stages */
  .stage {
    margin-bottom: 20px;
  }
  
  .stage img {
    max-width: 100%;
  }
  
  /* Style pour la page de la veille technologique */
  .image-container {
    display: flex;
  }
  
  .image-container img {
    max-width: 50%;
    margin-right: 10px;
  }

  
  